
body {
    font-family: Cabin-SemiBold;
}
.post {
    background: #f2f5f8 none repeat scroll 0 0;
    margin: 0 auto;
    width: 300px;
}
.post .header {
    height: 72px;
    width: 300px;
}



.post .avatar {
    float: left;
    padding-top: 13px;
    padding-left: 11px;
}

.post .name {
    color: #383737;
    font-size: 18px;
    letter-spacing: 0.2px;
    padding-left: 70px;
    padding-top: 17px;
}

.post .city {
    color: #b4bbc2;
    font-size: 14px;
    letter-spacing: 0.17px;
    padding-top: 3px;
    margin-left: 69px;
}

.post .content{
    overflow: hidden;
    max-height:300px;

}
.post.text {
    color: #383737;
    font-size: 16px;
    height: 66px;
    letter-spacing: 0.3px;
    line-height: 22px;
    padding-top: 12px;
    width: 249px;
}
.post .footer {
    font-size: 14px;
    padding-top: 9px;
    padding-left: 18px;
}
.post .action {
    padding-top: 9px;
    color: #b4bbc2;
}
.like {
    float: left;
    padding-left: 1px;
    padding-right: 17px;
}
.post .social_buttons {
    padding-top: 17px;
}
.post .for_button {
    border-style: none;
    color: #ffffff;
    font-size: 14px;
}
.post .like_button {
    background-color: #d97563;
    border-radius: 6px;
    float: left;
    height: 36px;
    width: 74px;
    margin-right: 14px;
}
.post .comment_button {
    background-color: #68acce;
    border-radius: 6px;
    height: 36px;
    width: 106px;
}
